.btn-link, .menu__nav-link, .header-slider__item, .tabs-menu__link, .footer__link, .menu-social__nav-link {
  transition: box-shadow .2s, transform .2s, border .2s, background .2s, opacity .2s, color .2s ease-in-out; }

.item-category {
  transition: box-shadow .3s, transform .3s, border .3s, background .3s, opacity .3s, color .3s ease-in-out; }

.mytona-slide__link-brand, .mytona-slide__content, .mytona-slide__download-buttons, .mytona-slide__comments-block {
  transition: box-shadow .6s, transform .6s, border .6s, background .6s, opacity .6s, color .6s ease-in-out; }

.item-category:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1); }

.header-slider__slider-menu, .mytona-slide, .mytona-slide__comment-text, .mytona-slide__comment-autor, .item-category, .item-category__img, .item-category__text, .item-category__data, .item-category__title, .item-category__tag {
  overflow: hidden; }

.mytona-category {
  padding: 60px 0; }

h2.title, .mytona-category h1.title {
  font-size: 40px;
  font-weight: 600; }

/*===========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

form {
  margin: 0; }

input:focus,
textarea:focus {
  outline: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

label {
  margin: 0;
  max-width: none; }

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer; }
  button:focus {
    outline: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

body {
  font: 400 16px "Pragmatica", "Open Sans", sans-serif;
  color: #212529;
  background: #fff; }

.btn-link {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #037EBC;
  text-transform: uppercase; }
  .btn-link i {
    font-size: 20px;
    margin-left: 10px; }
  .btn-link:hover {
    color: #3AAFE9; }

/*
index.html
======================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background: #FBFBFB;
  z-index: 999;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.1); }
  .header__nav {
    min-height: 44px;
    padding: 0 15px; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  display: block;
  width: 100px; }
  .logo img {
    width: 100%; }

.menu {
  display: flex;
  justify-content: center; }
  .menu__nav-item, .menu__lang-item {
    margin: 0 12px; }
    .menu__nav-item_active a, .menu__lang-item_active a {
      color: #037EBC; }
  .menu__nav-link {
    display: block;
    font-size: 19px;
    font-weight: 500;
    color: #404040;
    text-transform: uppercase; }
    .menu__nav-link:hover {
      color: #037EBC; }
  .menu__lang-item {
    margin: 0; }

.main-content {
  margin-top: 44px; }

/*
header-slider
======================*/
.header-slider__slider-menu {
  display: flex;
  justify-content: space-between;
  max-height: 158px;
  background: #fff; }
.header-slider__item {
  cursor: pointer;
  opacity: 0.5; }
  .header-slider__item:hover {
    opacity: 0.7; }
  .header-slider__item_active {
    opacity: 1; }
    .header-slider__item_active:hover {
      opacity: 1; }

.mytona-slide {
  position: relative;
  max-height: 792px; }
  .mytona-slide:hover .mytona-slide__link-brand {
    transform: scale(0.85) translateY(-230px); }
  .mytona-slide:hover .mytona-slide__content {
    opacity: 1; }
  .mytona-slide:hover .mytona-slide__download-buttons {
    transform: translateY(0px); }
  .mytona-slide:hover .mytona-slide__comments-block {
    transform: translateY(0px); }
  .mytona-slide__link-img {
    display: block;
    cursor: pointer; }
  .mytona-slide__link-brand {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%; }
    .mytona-slide__link-brand img {
      width: 26%; }
  .mytona-slide__content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: linear-gradient(0deg, rgba(23, 97, 135, 0.9) 0%, rgba(15, 15, 15, 0) 100%);
    opacity: 0; }
  .mytona-slide__download-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50px); }
  .mytona-slide__btn {
    display: block;
    height: 45px;
    margin: 0 10px 10px; }
    .mytona-slide__btn img {
      height: 100%; }
  .mytona-slide__comments-block {
    color: #FBFBFB;
    padding: 20px 0 30px;
    transform: translateY(30px); }
  .mytona-slide__comment {
    position: relative;
    padding-left: 25px; }
    .mytona-slide__comment::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      background: url(../images/header-slider/quote.png) no-repeat center;
      width: 14px;
      height: 10px; }
  .mytona-slide__comment-text {
    line-height: 25px;
    max-height: 100px; }
  .mytona-slide__comment-autor {
    line-height: 25px;
    font-weight: 600;
    max-height: 25px; }

/*
mytona-category
======================*/
.mytona-category_bg-gray {
  background: #F0F0F0; }
.mytona-category__container {
  display: flex;
  flex-direction: column;
  align-items: center; }
.mytona-category__header {
  width: 100%; }
.mytona-category__title {
  margin-bottom: 10px; }
.mytona-category__tabs-menu {
  margin-bottom: 20px; }
.mytona-category__btn-link {
  margin-top: 40px; }

.tabs-menu {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #C4C4C4; }
  .tabs-menu__tab {
    margin-right: 20px; }
    .tabs-menu__tab_active a {
      color: #037EBC;
      border-bottom: 2px solid #037EBC; }
  .tabs-menu__link {
    font-size: 20px;
    font-weight: 600;
    color: #404040;
    padding-bottom: 10px; }
    .tabs-menu__link:hover {
      color: #037EBC; }

.item-category {
  color: #212529;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px; }
  .item-category_min {
    max-height: 172px; }
  .item-category:hover {
    background: #FBFBFB; }
  .item-category__img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    max-height: 250px;
    margin-bottom: 10px; }
  .item-category__text {
    line-height: 25px;
    max-height: 75px; }
  .item-category__data {
    font-size: 12px;
    line-height: 25px;
    max-height: 25px; }
  .item-category__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #037EBC;
    max-height: 75px;
    margin-bottom: 10px; }
  .item-category__tag {
    font-size: 14px;
    line-height: 18px;
    max-height: 18px;
    color: #808080; }

/*
footer
======================*/
.footer {
  padding-top: 40px;
  padding-bottom: 20px; }
  .footer__nav {
    margin-bottom: 60px; }
  .footer__logo {
    width: 120px; }
  .footer__menu-links {
    margin-bottom: 10px; }
  .footer__links-title {
    font-size: 12px;
    line-height: 18px;
    color: #808080; }
  .footer__links-list {
    font-size: 12px;
    line-height: 18px; }
  .footer__copyright {
    font-size: 12px;
    line-height: 18px;
    color: #808080; }
  .footer__link:hover {
    color: #037EBC; }
  .footer__link_opacity {
    opacity: .2; }
    .footer__link_opacity:hover {
      color: #212529; }

.menu-social {
  display: flex;
  justify-content: flex-end; }
  .menu-social__nav-item {
    margin-left: 5px; }
  .menu-social__nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    font-size: 20px;
    color: #FBFBFB;
    background: #404040;
    transform: skew(-30deg); }
    .menu-social__nav-link i {
      transform: skew(30deg); }
    .menu-social__nav-link:hover {
      background: #808080; }

/*# sourceMappingURL=main.css.map */
