.menu__nav-link, .header-slider__item {
  transition: box-shadow .2s, transform .2s, border .2s, background .2s, opacity .2s, color .2s ease-in-out; }

.mytona-slide__link-brand, .mytona-slide__content {
  transition: box-shadow .6s, transform .6s, border .6s, background .6s, opacity .6s, color .6s ease-in-out; }

/*===========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

form {
  margin: 0; }

input:focus,
textarea:focus {
  outline: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

label {
  margin: 0;
  max-width: none; }

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer; }
  button:focus {
    outline: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

body {
  font: 400 16px "Pragmatica", "Open Sans", sans-serif;
  color: #212529;
  background: #fff; }

/*
index.html
======================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background: #FBFBFB;
  z-index: 999;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.1); }
  .header__nav {
    min-height: 44px;
    padding: 0 15px; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__logo {
    width: 100px; }

.menu {
  display: flex;
  justify-content: center; }
  .menu__nav-item, .menu__lang-item {
    margin: 0 12px; }
    .menu__nav-item_active a, .menu__lang-item_active a {
      color: #037EBC; }
  .menu__nav-link {
    display: block;
    font-size: 19px;
    font-weight: 500;
    color: #404040;
    text-transform: uppercase; }
    .menu__nav-link:hover {
      color: #037EBC; }
  .menu__lang-item {
    margin: 0; }

.main-content {
  margin-top: 44px; }

/*
mytona-slider
======================*/
.header-slider__slider-menu {
  display: flex;
  justify-content: space-between;
  max-height: 158px;
  overflow: hidden;
  background: #fff; }
.header-slider__item {
  cursor: pointer;
  opacity: 0.5; }
  .header-slider__item:hover {
    opacity: 0.7; }
  .header-slider__item_active {
    opacity: 1; }
    .header-slider__item_active:hover {
      opacity: 1; }

.mytona-slide {
  position: relative;
  max-height: 792px;
  overflow: hidden; }
  .mytona-slide__link-img {
    display: block;
    cursor: pointer; }
  .mytona-slide__link-brand {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%; }
    .mytona-slide__link-brand img {
      width: 26%; }
  .mytona-slide__content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: linear-gradient(0deg, rgba(23, 97, 135, 0.9) 0%, rgba(15, 15, 15, 0) 100%);
    opacity: 0; }
  .mytona-slide__download-buttons {
    display: flex;
    justify-content: center;
    align-items: center; }
  .mytona-slide__btn {
    display: block;
    height: 45px;
    margin: 0 10px 10px; }
    .mytona-slide__btn img {
      height: 100%; }
  .mytona-slide__comments-block {
    color: #FBFBFB;
    padding: 20px 0 30px; }
  .mytona-slide__comment {
    position: relative;
    padding-left: 25px; }
    .mytona-slide__comment::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      background: url(../images/header-slider/quote.png) no-repeat center;
      width: 14px;
      height: 10px; }
  .mytona-slide__comment-text {
    line-height: 25px;
    max-height: 100px;
    overflow: hidden; }
  .mytona-slide__comment-autor {
    line-height: 25px;
    font-weight: 600;
    max-height: 25px;
    overflow: hidden; }
  .mytona-slide:hover .mytona-slide__link-brand {
    transform: scale(0.85) translateY(-230px); }
  .mytona-slide:hover .mytona-slide__content {
    opacity: 1; }

/*# sourceMappingURL=main.css.map */
