<footer class="footer">
	<div class="container">
		<div class="footer__nav nav">
			<a href="index.html" class="footer__logo logo"><img src="images/logo/logo.svg" alt=""></a>
			<ul class="footer__menu-social menu-social">
			 	<li class="menu-social__nav-item menu-social__nav-item_active"><a class="menu-social__nav-link" target="_blank" href="#"><i class="fab fa-instagram"></i></a></li>
			 	<li class="menu-social__nav-item"><a class="menu-social__nav-link" target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
			 	<li class="menu-social__nav-item"><a class="menu-social__nav-link" target="_blank" href="#"><i class="fab fa-youtube"></i></a></li>
			 	<li class="menu-social__nav-item"><a class="menu-social__nav-link" target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
			 	<li class="menu-social__nav-item"><a class="menu-social__nav-link" target="_blank" href="#"><i class="fab fa-vk"></i></a></li>
			 </ul> 
		</div>
		<div class="footer__menu-links row">
			<div class="footer__links col-12 col-sm-4 col-md-3">
				<div class="footer__links-title">Сайты игр</div>
				<ul class="footer__links-list">
					<li><a class="footer__link footer__link_gray" href="#">Seekers Notes: Hidden Mystery</a></li>
					<li><a class="footer__link footer__link_gray" href="#">Cooking Diary: Tasty Hills</a></li>
				</ul>
			</div>
			<div class="footer__links col-12 col-sm-4 offset-md-3 col-md-3">
				<div class="footer__links-title">Контакты</div>
				<ul class="footer__links-list">
					<li><a class="footer__link footer__link_gray" href="#">info@mytona.com</a></li>
					<li><a class="footer__link footer__link_gray" href="#">support@mytona.com</a></li>
				</ul>
			</div>
			<div class="footer__links col-12 col-sm-4 col-md-3">
				<ul class="footer__links-list">
					<li><a class="footer__link" href="#">Политика конфиденциальности</a></li>
					<li><a class="footer__link" href="#">Условия использования</a></li>
					<li><a class="footer__link" href="#">Политика использования файлов cookie</a></li>
					<li><a class="footer__link" href="#">Пресс-кит</a></li>
					<li><a class="footer__link footer__link_opacity" href="#">Оценка условий труда</a></li>
				</ul>
			</div>
		</div>
		<div class="footer__copyright">© 2018-2019 MyTona. All rights reserved</div>
	</div>
</footer>