<header class="header">
	<div class="container-fluid">
		<div class="header__mobile-nav nav d-xl-none">
			<a href="index.html" class="header__logo-mobile logo-mobile d-xl-none">
				<img src="images/logo/logoleaf.svg" alt="">
				<span>MYTONA</span>
			</a>
			<button class="header__mobile-btn">
				<i class="header__icon fas fa-bars active"></i>
				<i class="header__icon fas fa-times"></i>
			</button>
		</div>
		<nav class="header__nav nav">
			<div class="bg-pattern bg-pattern_gray d-xl-none"></div>
			<a href="index.html" class="header__logo logo"><img src="images/logo/logo.svg" alt=""></a>				
			<ul class="header__menu menu">
				<li class="menu__nav-item menu__nav-item_active"><a class="menu__nav-link" href="#">Главная</a></li>
				<li class="menu__nav-item"><a class="menu__nav-link" href="#">О Компании</a></li>
				<li class="menu__nav-item"><a class="menu__nav-link" href="#">Карьера</a></li>
				<li class="menu__nav-item"><a class="menu__nav-link" href="#">Наши игры</a></li>
				<li class="menu__nav-item"><a class="menu__nav-link" href="#">Новости</a></li>
				<li class="menu__nav-item"><a class="menu__nav-link" href="#">Техподдержка</a></li>
			</ul>
			<ul class="header__menu menu">
				<li class="menu__lang-item"><a class="menu__nav-link" href="#">ENG</a></li>
			</ul>
			<ul class="header__menu-social menu-social d-xl-none">
			 	<li class="menu-social__nav-item menu-social__nav-item_active"><a class="menu-social__nav-link" target="_blank" href="#"><i class="fab fa-instagram"></i></a></li>
			 	<li class="menu-social__nav-item"><a class="menu-social__nav-link" target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
			 	<li class="menu-social__nav-item"><a class="menu-social__nav-link" target="_blank" href="#"><i class="fab fa-youtube"></i></a></li>
			 	<li class="menu-social__nav-item"><a class="menu-social__nav-link" target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
			 	<li class="menu-social__nav-item"><a class="menu-social__nav-link" target="_blank" href="#"><i class="fab fa-vk"></i></a></li>
			 </ul> 
		</nav>
	</div>
</header>